/* Formatação CSS externa */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #18688a44;
    margin: 0;
    padding: 0;
}

header {
    background-color: #830a0a;
    color: #e6dfdf;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    margin: 20px;
}

footer {
    background-color: #690606;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}